@model Challenge_CarAuction.Models.ViewModels.BidsViewModel

@{
    var i = 1;
    var bidPlaceHolder = Model.Bids.Any() ? Model.Bids.Max(x => x.Value) + 1 : Model.StartingBid + 1;
}

<h2>Bids</h2>
<form asp-action="Create" asp-controller="Bids">

    <label asp-for="Bid.Value" class="control-label">Bid Ammount</label>
    <input asp-for="Bid.Value" class="form-control" value="@bidPlaceHolder" />
    <input asp-for="Bid.AuctionId" value="@Model.Bid.Auction.Id" type="hidden"/>
    <span asp-validation-for="Bid.Value" class="text-danger"></span>

    <div class="form-group">
        <input type="submit" value="Bid" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Highest
            </th>
            <th id="valueFilter">
                @Html.DisplayNameFor(model => model.Bid.Value)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bids.OrderByDescending(x => x.Value))
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
